#container {
    width: 1260px;
    margin: 0 auto;
}

#header {
    padding: 20px;
    background: #bbb;
}

#content {
    float: left;
    width: 1260px;
}

#box_1 {
	position: static;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}

.paddingRight700 {
    padding-right: 870px;
}

.leftContainer {
    border: 2px solid #8AC007;
    padding: 20px;
    width: 610px;
    overflow: auto;
    float:right;
    margin: 10px;
}

.serverDetails {
    width: 550px;
    height: 165px;
    background-color: steelblue;
    overflow: auto;
    margin: 5px;
}

.clientDetails {
    width: 550px;
    height: 165px;
    background-color: steelblue;
    overflow: auto;
    margin: 5px;
}

.heading {
    width: 550px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
    text-align: center;
}

ul {
    list-style-type: none;
}

label.fixed {
    display: inline-block;
    text-align: left;
    padding-left:3px;
    width: 170px;
}

.serverActions {
    padding-left:470px;
}

.clientActions {
    padding-top:10px;
    padding-left:470px;
}

