<!DOCTYPE html>

<html ng-app="octoApp">

    <head>
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript">PROTON_TOTAL_MEMORY = 50000000;</script>
        <script type="text/javascript" src="js/lib/d3.v2.min.js"></script>
        <script type="text/javascript" src="js/lib/proton-messenger.js"></script>
        <script type="text/javascript" src="js/lib/angular.min.js"></script>
        <script type="text/javascript" src="js/lib/ui-bootstrap-tpls-0.13.0.min.js"></script>
        <script type="text/javascript" src="js/agent.js"></script>
    </head>

    <body ng-controller="AgentController">
        <div id="container">
            <div id="header">
                Available Agents : <span class="paddingRight700">{{ availableAgents }}</span>
                 <span ng-show="showDeployButtons()">
                    <button ng-click="serverOpen()" id="deployService" type="button">Deploy Service</button>
                    <button ng-click="clientOpen()" id="deployClient"  type="button">Deploy Client</button>
                 </span>
            </div>

            <div id="content">
                <div class="leftContainer">
                    <div class="heading">
                        <h4>Servers</h4>
                    </div>
                    <div class="allServerDetails">
                        <div ng-repeat="server in servers" class="serverDetails">
                            <ul>
                                <li><label class="fixed">Service Address</label> {{ server.service_address }} </li>
                                <li><label class="fixed">Desired Throughput</label> {{ server.desired_throughput }} </li>
                                <li><label class="fixed">Actual Throughput</label> {{ server.actual_throughput }} </li>
                                <li><label class="fixed">Backlog</label> {{ server.backlog }} </li>
                                <li><label class="fixed">Total Requests</label> {{ server.total_requests_received }}</li>
                            </ul>
                            <span class="serverActions">
                                <button class="undeployAgent" ng-click="undeploy(client.command_address)" type="button">Undeploy</button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="leftContainer">
                    <div class="heading">
                        <h4>Clients</h4>
                    </div>
                    <div class="allClientDetails">
                        <div class="clientDetails" ng-repeat="client in clients">
                            <ul>
                                <li><label class="fixed">Service Address</label> {{ client.service_address }} </li>
                                <li><label class="fixed">Desired Throughput</label> {{ client.desired_throughput }}  </li>
                                <li><label class="fixed">Actual Throughput</label> {{ client.actual_throughput }} </li>
                                <li><label class="fixed">Messages Sent</label> {{ client.sent }} </li>
                                <li><label class="fixed">Messages Acked</label> {{ client.acknowledged }} </li>
                            </ul>
                            <span class="clientActions">
                                <button class="undeployAgent" ng-click="undeploy(client.command_address)">Undeploy</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script type="text/ng-template" id="serverContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Deploy Server</h3>
            </div>
            <div class="modal-body">
                <label class="fixed">Service Address: </label><input type="text" name="serviceAddress" ng-model="deployDetails.serviceAddress" required><br/>
                <label class="fixed">Desired Throughput: </label><input type="number" name="serverDesiredThroughput" ng-model="deployDetails.desiredThroughput" min="0" required><br/>
                <label class="fixed">Backlog: </label><input type="number" name="serverBacklog" ng-model="deployDetails.backlog" min="0" required><br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="clientContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Deploy Client</h3>
            </div>
            <div class="modal-body">
                <label class="fixed">Service Address: </label><input type="text" name="clientServiceAddress" ng-model="deployDetails.serviceAddress" required><br/>
                <label class="fixed">Desired Throughput: </label><input type="number" name="clientDesiredThroughput" ng-model="deployDetails.desiredThroughput" min="0" required><br/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

    </body>

</html>